.place__link {
    color: white;
    cursor: pointer;

    
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;

    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.place__link:hover {
    opacity: 0.8;
}
